@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.black-gradient {
  background: #000000;
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  );
  background: linear-gradient(
    to right,
    #434343,
    #000000
  );
}

.red-gradient {
  background: #470907;
  background: linear-gradient(-90deg, #470907 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #470907 0%,
    rgba(60, 51, 80, 0) 100%
  );
}

.red-white-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #F1EFE5 1.9%, #780206 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #F1EFE5 1.9%, #780206 97.5%);
}

.red-text-gradient {
  background: #c21500;
  background: -webkit-linear-gradient(
    to top,
    #F1EFE5,
    #c21500
  );
  background: linear-gradient(
    to top,
    #F1EFE5,
    #c21500
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text-gradient {
  background: #4b6cb7;
  background: -webkit-linear-gradient(
    to top,
    #F1EFE5,
    #4b6cb7
  );
  background: linear-gradient(
    to top,
    #F1EFE5,
    #4b6cb7
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yellow-text-gradient {
  background: #EDDE5D;
  background: -webkit-linear-gradient(
    to top,
    #F1EFE5,
    #EDDE5D
  );
  background: linear-gradient(
    to top,
    #F1EFE5,
    #EDDE5D
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
